<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/all.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light"  style="background-color: #274029;">
      <a class="navbar-brand" onclick="javascript:location.href='http://localhost:3000'" style="color: #C8AE70;cursor: pointer; ">Restaurant List</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon" ></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#" style="color: #C8AE70;">Favorite <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #C8AE70;">log In</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="banner">123</div>
  </header>

  
  {{{body}}}

<div class="subscribe mt-4" data-aos="fade-up " data-aos-duration="2000 ">
  <div class="container ">
    <div class="row align-items-end ">
      <div class="title col-md-auto ">
        <h3 class="subscribeTitle"><span>記得<br> 訂閱以獲取更多資訊！</span></h3>
        <form class="subscribeInput input-group ">
          <input type="email" class="form-control h-auto " id="email " placeholder="Your email address "
            aria-label="Recipient 's username" aria-describedby="button-addon2">
          <button class="btnSub btn py-3 px-4" type="submit" id="email">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="py-2" style="color: #C8AE70;">
  <div class=" container-fluid container-md ">
    <div class="row align-items-center justify-content-center">
      <div class="col-auto">
        <i class="fas fa-umbrella-beach"></i>
      </div>
      <div class="link col-auto mr-md-auto ">
        <small>© 2020. All Rights Reserved.</small></div>
      <a class="navbar-brand col-auto d-none d-md-flex mb-0" onclick="javascript:location.href='http://localhost:3000'"
        style="color: #C8AE70;cursor: pointer; ">Restaurant</a>

    </div>
  </div>
</footer>

  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script defer src="/javascripts/all.js"></script>
</body>
</html>